<!DOCTYPE html>
<html>
<head>
  <title>Sample To Heroku</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Blog wfsneto :: top -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-3361631626986533"
     data-ad-slot="8089224204"></ins>

<script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
<br>
<%= yield %>
<br>

<div style="position:fixed;bottom:0;right:0;">
    <!-- Blog wfsneto :: sidebar -->
    <ins class="adsbygoogle"
       style="display:inline-block;width:300px;height:250px"
       data-ad-client="ca-pub-3361631626986533"
       data-ad-slot="6333289407"></ins>

    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>

</body>
</html>
